.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db; /* Change color as needed */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  